@use './base';
@forward './components/button';
@forward './components/modal';
@forward './components/wizard';
@forward './components/card';
@forward './components/divider';
@forward './components/gallery';
@forward './components/progress';
@forward './components/table';
@forward './components/pagination';
@forward './components/menu';
@forward './components/avatar';
@forward './components/dropdown';