
.icon-trash:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-left:before { content: '\e803'; } /* '' */
.icon-right:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-down-open-1:before { content: '\e807'; } /* '' */
.icon-up-open:before { content: '\e808'; } /* '' */
.icon-map-1:before { content: '\e809'; } /* '' */
.icon-th-list:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\e80b'; } /* '' */
.icon-th:before { content: '\e80c'; } /* '' */
.icon-camera:before { content: '\e80d'; } /* '' */
.icon-users:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-eye:before { content: '\e810'; } /* '' */
.icon-eye-off:before { content: '\e811'; } /* '' */
.icon-globe:before { content: '\e812'; } /* '' */
.icon-info-circled:before { content: '\e813'; } /* '' */
.icon-right-open-1:before { content: '\e814'; } /* '' */
.icon-exclamation:before { content: '\e815'; } /* '' */
.icon-ok-circled:before { content: '\e816'; } /* '' */
.icon-attention:before { content: '\e817'; } /* '' */
.icon-chat:before { content: '\e818'; } /* '' */
.icon-comment-alt:before { content: '\e819'; } /* '' */
.icon-comment:before { content: '\e81a'; } /* '' */
.icon-lock-open:before { content: '\e81b'; } /* '' */
.icon-lock:before { content: '\e81c'; } /* '' */
.icon-globe-1:before { content: '\e81d'; } /* '' */
.icon-database:before { content: '\e81e'; } /* '' */
.icon-target:before { content: '\e81f'; } /* '' */
.icon-basket:before { content: '\e820'; } /* '' */
.icon-bell:before { content: '\e821'; } /* '' */
.icon-forward:before { content: '\e822'; } /* '' */
.icon-right-open:before { content: '\e823'; } /* '' */
.icon-heart-empty:before { content: '\e824'; } /* '' */
.icon-heart:before { content: '\e825'; } /* '' */
.icon-star-empty-1:before { content: '\e826'; } /* '' */
.icon-star-1:before { content: '\e827'; } /* '' */
.icon-question:before { content: '\e828'; } /* '' */
.icon-left-open:before { content: '\e829'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e82a'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e82b'; } /* '' */
.icon-right-open-outline:before { content: '\e82c'; } /* '' */
.icon-left-open-1:before { content: '\e82d'; } /* '' */
.icon-left-open-outline:before { content: '\e82e'; } /* '' */
.icon-left-1:before { content: '\e82f'; } /* '' */
.icon-right-1:before { content: '\e830'; } /* '' */
.icon-qrcode:before { content: '\e831'; } /* '' */
.icon-left-big:before { content: '\e832'; } /* '' */
.icon-right-big:before { content: '\e833'; } /* '' */
.icon-home:before { content: '\e834'; } /* '' */
.icon-signal:before { content: '\e835'; } /* '' */
.icon-commerical-building:before { content: '\e836'; } /* '' */
.icon-home-1:before { content: '\e837'; } /* '' */
.icon-barcode:before { content: '\e838'; } /* '' */
.icon-off:before { content: '\e839'; } /* '' */
.icon-right-open-2:before { content: '\e83a'; } /* '' */
.icon-left-open-2:before { content: '\e83b'; } /* '' */
.icon-search-circled:before { content: '\e83c'; } /* '' */
.icon-search:before { content: '\e83d'; } /* '' */
.icon-flight:before { content: '\e83e'; } /* '' */
.icon-target-1:before { content: '\e83f'; } /* '' */
.icon-print-2:before { content: '\e840'; } /* '' */
.icon-star:before { content: '\e841'; } /* '' */
.icon-star-empty:before { content: '\e842'; } /* '' */
.icon-cancel:before { content: '\e843'; } /* '' */
.icon-cancel-circled:before { content: '\e844'; } /* '' */
.icon-cancel-circled2:before { content: '\e845'; } /* '' */
.icon-chart-pie:before { content: '\e846'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e847'; } /* '' */
.icon-cancel-alt:before { content: '\e848'; } /* '' */
.icon-cancel-1:before { content: '\e849'; } /* '' */
.icon-cancel-circle:before { content: '\e84a'; } /* '' */
.icon-attention-1:before { content: '\e84b'; } /* '' */
.icon-attention-circled:before { content: '\e84c'; } /* '' */
.icon-heart-1:before { content: '\e84d'; } /* '' */
.icon-heart-empty-1:before { content: '\e84e'; } /* '' */
.icon-star-half-1:before { content: '\e84f'; } /* '' */
.icon-print:before { content: '\e850'; } /* '' */
.icon-retweet:before { content: '\e851'; } /* '' */
.icon-upload:before { content: '\e852'; } /* '' */
.icon-download:before { content: '\e853'; } /* '' */
.icon-th-1:before { content: '\e854'; } /* '' */
.icon-th-list-1:before { content: '\e855'; } /* '' */
.icon-camera-1:before { content: '\e856'; } /* '' */
.icon-videocam:before { content: '\e857'; } /* '' */
.icon-bell-1:before { content: '\e858'; } /* '' */
.icon-folder-open:before { content: '\e859'; } /* '' */
.icon-calendar:before { content: '\e85a'; } /* '' */
.icon-left-dir:before { content: '\e85b'; } /* '' */
.icon-up-dir:before { content: '\e85c'; } /* '' */
.icon-down-dir:before { content: '\e85d'; } /* '' */
.icon-right-dir:before { content: '\e85e'; } /* '' */
.icon-up-circled2:before { content: '\e85f'; } /* '' */
.icon-down-circled2:before { content: '\e860'; } /* '' */
.icon-zoom-out:before { content: '\e861'; } /* '' */
.icon-zoom-in:before { content: '\e862'; } /* '' */
.icon-credit-card:before { content: '\e863'; } /* '' */
.icon-user-add:before { content: '\e864'; } /* '' */
.icon-attach:before { content: '\e865'; } /* '' */
.icon-lock-1:before { content: '\e866'; } /* '' */
.icon-lock-open-1:before { content: '\e867'; } /* '' */
.icon-cancel-squared:before { content: '\e868'; } /* '' */
.icon-cancel-circled-1:before { content: '\e869'; } /* '' */
.icon-check:before { content: '\e86a'; } /* '' */
.icon-cancel-2:before { content: '\e86b'; } /* '' */
.icon-warning:before { content: '\e86c'; } /* '' */
.icon-warning-empty:before { content: '\e86d'; } /* '' */
.icon-attention-filled:before { content: '\e86e'; } /* '' */
.icon-star-2:before { content: '\e86f'; } /* '' */
.icon-heart-empty-2:before { content: '\e870'; } /* '' */
.icon-heart-2:before { content: '\e871'; } /* '' */
.icon-ok-1:before { content: '\e872'; } /* '' */
.icon-info:before { content: '\e873'; } /* '' */
.icon-tag:before { content: '\e874'; } /* '' */
.icon-basket-1:before { content: '\e875'; } /* '' */
.icon-basket-alt:before { content: '\e876'; } /* '' */
.icon-chart-pie-1:before { content: '\e877'; } /* '' */
.icon-plus-1:before { content: '\e878'; } /* '' */
.icon-plus-outline:before { content: '\e879'; } /* '' */
.icon-plus-2:before { content: '\e87a'; } /* '' */
.icon-plus-3:before { content: '\e87b'; } /* '' */
.icon-emo-beer:before { content: '\e87c'; } /* '' */
.icon-emo-coffee:before { content: '\e87d'; } /* '' */
.icon-emo-devil:before { content: '\e87e'; } /* '' */
.icon-tag-1:before { content: '\e87f'; } /* '' */
.icon-cog:before { content: '\e880'; } /* '' */
.icon-cog-alt:before { content: '\e881'; } /* '' */
.icon-print-1:before { content: '\e882'; } /* '' */
.icon-box:before { content: '\e883'; } /* '' */
.icon-archive:before { content: '\e884'; } /* '' */
.icon-folder:before { content: '\e885'; } /* '' */
.icon-filter-1:before { content: '\e886'; } /* '' */
.icon-bell-3:before { content: '\e887'; } /* '' */
.icon-flight-1:before { content: '\e888'; } /* '' */
.icon-guidedog:before { content: '\e889'; } /* '' */
.icon-list-numbered:before { content: '\e88a'; } /* '' */
.icon-form:before { content: '\e88b'; } /* '' */
.icon-home-2:before { content: '\e88c'; } /* '' */
.icon-globe-inv:before { content: '\f019'; } /* '' */
.icon-star-half:before { content: '\f022'; } /* '' */
.icon-star-half_empty:before { content: '\f024'; } /* '' */
.icon-bell-2:before { content: '\f03f'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-minus-squared-1:before { content: '\f146'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-box-1:before { content: '\f187'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-window-close-o:before { content: '\f2d4'; } /* '' */
